@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */
body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    z-index: 100;
    left: 0;
    width: 100%;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 20px; /* Reduzi o padding para deixar mais compacto */
}

.nav-flex-row li a {
    display: flex;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

#bloqueados {
    color: red;
}

.nav-item a{ 
    padding-top: 20px;
}

.nav-flex-row img {
    height: 70px;
}

.nav-item-search {
    display: flex;
    align-items: center; /* Para centralizar verticalmente */
}

.nav-item-search form {
    display: flex;
    align-items: center; /* Para centralizar verticalmente */
}

.nav-item-search input[type="text"] {
    padding: 5px;
    margin-right: 5px; /* Espaçamento entre o campo de pesquisa e o botão */

}

.section-intro {
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SearchBar {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: black;
}


/* BANNER SECTION */
.bannerImage img {
    display: flex;
    width: 100%;
}

/* EVENTS SECTION */
.Events{
    display: flex;
    justify-content: center;
}

.inf-Events h6{
    display: flex;
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.1em;
    max-width: 750px;
    text-align: center;
    padding: 100px 100px;
}

/* CONTENT SECTION */
.Events-content {
    padding: 25px;
    font-family: 'Big Shoulders Text';
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.contents p {
    font-family: 'Big Shoulders Text';
    color: #ffffff;
    font-size: 1.1em;
    max-width: 750px;
    text-align: center;
}

.contents img {
    width: 35%;
}



/* FOOTER SECTION */
.footer-container{
    padding: 50px 50px;
    background-color: black;
}

.footer-container p {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Big Shoulders Text', cursive;
    text-transform: uppercase;
    font-size: 1.1em;
}

.icons {
    display: flex;
    justify-content: center;
    /* gap: 100px; */
}

.icons img {
    cursor: pointer;
    width: 70%;
}