@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */
body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    z-index: 100;
    left: 0;
    width: 100%;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 20px; /* Reduzi o padding para deixar mais compacto */
}

.nav-flex-row li a {
    display: flex;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

#bloqueados {
    color: red;
}

.nav-item a{ 
    padding-top: 20px;
}

.nav-flex-row img {
    height: 70px;
}

.nav-item-search {
    display: flex;
    align-items: center; /* Para centralizar verticalmente */
}

.nav-item-search form {
    display: flex;
    align-items: center; /* Para centralizar verticalmente */
}

.nav-item-search input[type="text"] {
    padding: 5px;
    margin-right: 5px; /* Espaçamento entre o campo de pesquisa e o botão */

}

.section-intro {
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SearchBar {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: black;
}

/* SHOP SECTION */
.bannerImage img {
    display: flex;
    width: 100%;
}

.products-container {
    display: flex;
    justify-content: center;
    padding: 150px 150px;
}

.container-product {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(25% - 20px);
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative; /* Adicionado */
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.product-price {
    color: red;
}

.product-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product:hover .product-back {
    opacity: 1;
}

/*popup 1*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup-content {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; 
    height: auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .popup-image img {
    display: flex;
    align-items: center;
    max-height: 650px;
  }
  
  .popup-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  
  .popup-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-button:hover {
    background-color: #0056b3;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

@media (max-width: 1024px) {
    .product {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .product {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%;
    }
}

/* FOOTER SECTION */
.footer-container{
    padding: 50px 50px;
    background-color: black;
}

.footer-container p {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Big Shoulders Text', cursive;
    text-transform: uppercase;
    font-size: 1.1em;
}

.icons {
    display: flex;
    justify-content: center;
    /* gap: 100px; */
}

.icons img {
    cursor: pointer;
    width: 70%;
}